<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/view-cart.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>
<body>
<div class="app">
    <header class="section header">
        <div class="container">
            <div class="header__logo">
                <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-dark.svg" alt="" class="header__logo-img">
                <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-white.svg" alt="" class="header__logo-img">
            </div>
            <!-- Navigation -->
            <nav class="navbar">
                <input hidden type="checkbox" name="" id="menu">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Home</a>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Shop</a>
                        <i class='bx bx-chevron-down'></i>
                        <ul class="sub-nav__list">
                            <li class="sub-nav__item">
                                <a href="#" class="sub-nav__link">Cake Wedding</a>
                            </li>
                            <li class="sub-nav__item">
                                <a href="#" class="sub-nav__link">Cake Birthday</a>
                            </li>
                            <li class="sub-nav__item">
                                <a href="#" class="sub-nav__link">Cake X'mas & New Year</a>
                            </li>
                            <li class="sub-nav__item">
                                <a href="#" class="sub-nav__link">Cake TIRAMISU</a>
                            </li>
                            <li class="sub-nav__item">
                                <a href="#" class="sub-nav__link">Cake Tea Break</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">About us</a>
                        <i class='bx bx-chevron-down'></i>
                    </li>
                    <li class="navbar__item">
                        <a href="#" class="navbar__link">Contact</a>
                    </li>
                    <li class="navbar__item">
                    </li>
                    <label for="menu" class="menu-mobile-tablet">
                        <i class='close-menu-icon bx bx-x'></i>
                    </label>
                </ul>
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <i class='bx bx-search'></i>
                    </li>
                    <li class="navbar__item">
                        <i class='bx bx-cart'></i>
                    </li>
                    <li class="navbar__item">
                        <i class='bx bx-user' ></i>
                    </li>
                    <li class="navbar__item">
                        <label for="menu" class="menu-mobile-tablet">
                            <i class='bx bx-menu'></i>
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__text">
            <p class="header__title">Cart</p>
            <p class="header__address">
                <a href="#" class="header__home-link">Home</a>
                <span class="header__target">/ Cart</span>
            </p>
        </div>
    </header>

<nav class="section navigator">
    <div class="container">
    <h1>Giới Thiệu</h1>
    </div>
</nav>
<section class="section main">
    <div class="container">
        <article class="content">
            <div class="entry">
                <p>Tên tiệm bánh được đặt để bày tỏ tình yêu nước Ý của những người thợ đầu tiên được may mắn trải nghiệm sống và học làm bánh ở đây. 
                    Biết làm sao khi họ trót yêu tiếng Ý- một tiếng Latin gốc, vốn dài, khó đọc và cũng phức tạp như những cung bậc tình yêu? 
                    Khi họ trót đam mê vị ngọt thơm, mềm mịn đầy quyến rũ của từng chiếc bánh, trót quá yêu những tác phẩm ngọt ngào nho nhỏ chính tay mình làm ra… 
                    Và trót yêu cảm giác hạnh phúc bình dị  khi chuyển những thông điệp yêu thương từ trái tim đến trái tim qua những chiếc bánh nhỏ xinh...
                    Chúng tôi hiện diện được hơn 5 năm (từ 2012) từ 1 góc ở SG Pearl đến 68 Nguyễn Cửu Vân (Bình Thạnh), rồi là 17a Nguyễn Thị Minh Khai (Quận 1). 
                    Hiện nay tiệm nằm yên ắng ở địa chỉ 460/4 Lê Văn Lương, P. Tân Phong, Quận 7. 
                    Cũng trải qua nhiều thăng trầm, thất bại và nhiều lần muốn bỏ cuộc vì kinh doanh tử tế và vì đam mê không hề dễ dàng chút nào.
                    Xin cám ơn các bạn đã chào đón những chiếc bánh thủ công mà những người thợ Dolce Vita đã tận tụy làm ra. 
                    Bằng tất cả tình cảm và lòng tự trọng của người làm bánh, 
                    chúng tôi cam kết sử dụng những nguyên liệu rõ ràng (được phân phối chính ngạch bởi những công ty nhập khẩu, 
                    hay nhà sản xuất ở VN có uy tín); trái cây tươi đạt chứng nhận của VietGap, Global Gap);
                    màu thực phẩm nếu có đều là của hãng Wilton hay America Color với hơn 100 năm danh tiếng ở Mỹ. 
                    Cộng với việc cân chỉnh công thức hợp lý, chúng tôi đang tạo ra những chiếc bánh hợp với khẩu vị châu Á và xu hướng ít ngọt hiện nay. 
                    Mơ ước của chúng tôi cũng như mong muốn của khách hàng là giới thiệu những chiếc bánh ngon và lành nhất trong khả năng của mình.</p>
                <img src="./images/1.jpg"/>
            </div>
        </article>
        <article class="sidebar">
            <div class="side">

            </div>
        </article>
    </div>
</section>
<footer class="section footer">
    <div class="grid wide">
        <div class="row container">
            <div class="col l-3 m-3 c-12 center-box-flex">
                <div class="footer-socials">
                    <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-white.svg" alt="" class="footer__logo">
                    <ul class="socials-list">
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class='social-icon bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class='social-icon bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class='social-icon bx bxl-pinterest-alt' ></i>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="#" class="social-link">
                                <i class='social-icon bx bxl-instagram' ></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-3 m-3 c-12">
                <div class="category">
                    <p class="features-title">CATEGORIES</p>
                    <ul class="features-list">
                        <li class="features-item">
                            <a href="#" class="features-link">Cupcake</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Pastry</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Muffin</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Waffle</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-3 m-3 c-12">
                <div class="category">
                    <p class="features-title">SERVICES</p>
                    <ul class="features-list">
                        <li class="features-item">
                            <a href="#" class="features-link">Delivery</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Payment</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Returns</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col l-3 c-12">
                <div class="category">
                    <p class="features-title">INFORMATION</p>
                    <ul class="features-list">
                        <li class="features-item">
                            <a href="#" class="features-link">About Us</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Contact Us</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Latest Post</a>
                        </li>
                        <li class="features-item">
                            <a href="#" class="features-link">Selling Tips</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="componion-list">
            <li class="compotion-item">
                <i class='bx bxl-visa'></i>
            </li>
            <li class="compotion-item">
                <i class='bx bxl-paypal' ></i>
            </li>
            <li class="compotion-item">
                <i class='bx bxl-mastercard' ></i>
            </li>
            <li class="compotion-item">
                <i class='bx bxl-visa'></i>
            </li>
        </ul>
        <p class="footer__cpy-right">COPYRIGHT © LA-STUDIO. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
</div>
</body>
</html>