<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<header class="section header">
    <div class="container">
        <!-- No product : cart--no-product -->
        <!-- Have product: cart--have-product -->
        <div class="cart cart--have-product">
            <p class="cart__title">My Cart</p>
            <!-- No Products -->
            <p class="cart__text">No products in the cart.</p>
            <!-- Have Products -->
            <div class="product">
                <ul class="product__list">
                    <li class="product__item">
                        <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/m2-prod6.jpg" alt="" class="product__img">
                        <div class="product__info">
                            <h3 class="product__name">Sesame Bread</h3>
                            <p class="product__price">1 x $4.99</p>
                        </div>
                        <div class="product__remove">
                            <i class='product__remove-icon bx bx-x'></i>
                        </div>
                    </li>
                    <li class="product__item">
                        <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/m2-prod6.jpg" alt="" class="product__img">
                        <div class="product__info">
                            <h3 class="product__name">Sesame Bread</h3>
                            <p class="product__price">1 x $4.99</p>
                        </div>
                        <div class="product__remove">
                            <i class='product__remove-icon bx bx-x'></i>
                        </div>
                    </li>
                    <li class="product__item">
                        <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/m2-prod6.jpg" alt="" class="product__img">
                        <div class="product__info">
                            <h3 class="product__name">Sesame Bread</h3>
                            <p class="product__price">1 x $4.99</p>
                        </div>
                        <div class="product__remove">
                            <i class='product__remove-icon bx bx-x'></i>
                        </div>
                    </li>
                </ul>
                <p class="cart__total-price">
                    Subtotal:
                    <span>$4.99</span>
                </p>
                <!-- 2 Buttons -->
                <div class="cart__options">
                    <a href="./ShopCart/view-cart.html" target="blank" class="btn view-btn">View cart</a>
                    <a href="#" class="btn check-out-btn">Checkout</a>
                </div>
            </div>
            <div class="cart__close-btn">
                <i class='cart__close-icon bx bx-x'></i>
            </div>
        </div>
    </div>
</header>
<nav class="section navigator">
    <div class="container">
        nav
    </div>
</nav>
<section class="section main">
    <div class="container">
        <article class="content">
            <div class="entry">
                <p>content</p>
            </div>
        </article>
        <article class="sidebar">
            <div class="side">
                <p>side bar</p>
            </div>
        </article>
    </div>
</section>
<footer class="section footer">
    <div class="container">
        <p>footer</p>
    </div>
</footer>
</body>
</html>