<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <%- include("stylesheet.ejs") %>
</head>
<body>

</body>
</html>
<header class="section header">
    <div class="container">

        <div class="header__logo">
            <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-dark.svg" alt="" class="header__logo-img">
            <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-white.svg" alt="" class="header__logo-img">
        </div>

        <!-- Navigation -->
        <nav class="navbar">

            <input hidden type="checkbox" name="" id="menu">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Shop</a>
                    <i class='bx bx-chevron-down'></i>
                    <ul class="sub-nav__list">
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cupcake</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Donut</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Pastry</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Muffin</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Waffle</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">About us</a>
                    <i class='bx bx-chevron-down'></i>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Contact</a>
                </li>
                <li class="navbar__item">
                </li>
                <label for="menu" class="menu-mobile-tablet">
                    <i class='close-menu-icon bx bx-x'></i>
                </label>
            </ul>
            <ul class="navbar__list">
                <li class="navbar__item">
                    <i class='bx bx-search'></i>
                </li>
                <li class="navbar__item">
                    <i class='bx bx-cart'></i>
                </li>
                <li class="navbar__item">
                    <i class='bx bx-user' ></i>
                </li>
                <li class="navbar__item">
                    <label for="menu" class="menu-mobile-tablet">
                        <i class='bx bx-menu'></i>
                    </label>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__text">
        <p class="header__title">Daily Fresh</p>
        <p class="header__title">Baked Good</p>
     <!--   <p class="header__address">
            <a href="#" class="header__home-link">Home</a>
            <span class="header__target">/ Cart</span>
        </p>-->
    </div>
</header>
