<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/trangchu.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>

<div class="app">
    <%- include("header.ejs") %>
    <div class="container">
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/n46.jpg?v=1636442041000);">
                    <h5 class="home-product-item__name">Bánh kem sinh nhật hai tầng trắng hoa nâu công ty nhân viên tập thể</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/n44.jpg?v=1636442040000);">
                    <h5 class="home-product-item__name">[BAK4230] Bánh kem sinh nhật 2 tầng màu hồng cắm nến happy birthday đám mây trắng cho nữ chị gái</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/n18.jpg?v=1636431334000);">
                    <h5 class="home-product-item__name">[BAK4012] Bánh kem sinh nhật 2 tầng bé gái búp bê bắt hoa viền rực rỡ tươi sáng con gái nhỏ</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/banh-kem-dep-banhngotvn-19-min.jpg?v=1607761209000);">
                    <h5 class="home-product-item__name">[BAK2277] Bánh kem sinh nhật 2 tầng hoa hồng lộng lẫy</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/banh-kem-dep-banhngotvn-18-min.jpg?v=1607761046000);">
                    <h5 class="home-product-item__name">[BAK2278] Bánh kem sinh nhật hai tầng trắng vàng sang trọng quý phái</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/banh-kem-bac-ninh-1.jpg?v=1583915962000);">
                    <h5 class="home-product-item__name">[BAK3236] Bánh kem 2 tầng tặng sếp đẹp sang trọng bắt hoa nhiều màu 8/3</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">780.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 116 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/combo-hoa-banh-cb-36.jpg?v=1649989805000);">
                    <h5 class="home-product-item__name">Combo hoa bánh CB36 bánh bắp rải hạnh nhân và nhiều cherry ngâm</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">950.000</span>
                        <span class="home-product-item__price-current">899.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 67 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">5%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/combo-hoa-banh-cb-34.jpg?v=1649989804000);">
                    <h5 class="home-product-item__name">Combo hoa bánh CB34 trái tim cắm phụ kiện vàng sang trọng quý phái</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">1.500.000</span>
                        <span class="home-product-item__price-current">1.399.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 45 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">7%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/combo-hoa-banh-cb-29.jpg?v=1649989801000);">
                    <h5 class="home-product-item__name">Combo hoa bánh CB34 trái tim cắm phụ kiện vàng sang trọng quý phái</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">950.000</span>
                        <span class="home-product-item__price-current">899.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 178 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">5%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
        <div class="grid__column-2-4">
            <a class="home-product-item" href="">
                <div class="home-product__img" style="background-image: url(https://bizweb.dktcdn.net/thumb/medium/100/333/744/products/combo-hoa-banh-cb-11.jpg?v=1649989725000);">
                    <h5 class="home-product-item__name">Combo hoa bánh CB11 tròn trắng hiện đại kiểu mới nhất</h5>
                    <div class="home-product-item__price">
                        <span class="home-product-item__price-old">800.000</span>
                        <span class="home-product-item__price-current">749.000</span>
                    </div>
                    <div class="home-product-item__action">
                                              <span class="home-product-item__like home-product-item__like--liked">
                                                  <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                  <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                              </span>
                        <div class="home-product-item__rating">
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="home-product-item__star-gold far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="home-product-item__sold"> 169 đã bán</span>
                    </div>
                </div>
                <div class="home-product-item__origin">
                    <span class="home-product-item__brand">Cheesecake</span>
                    <span class="home-product-item__origin-name">Vietnam</span>
                </div>
                <div class="home-product-item__favourite">
                    <i class="fas fa-check"></i>
                    <span>Yêu Thích</span>
                </div>
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">6%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
            </a>
        </div>
    </div>
</div>
<ul class="pagination home-product__pagination">
    <li class="pagination-item">
        <a href="" class="pagination-item__link">
            <i class="pagination-item__icon fas fa-angle-left"></i>
        </a>
    </li>
    <li class="pagination-item pagination-item--action">
        <a href="" class="pagination-item__link">1</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">2</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">3</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">4</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">5</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">...</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">20+</a>
    </li>
    <li class="pagination-item">
        <a href="" class="pagination-item__link">
            <i class="pagination-item__icon fas fa-angle-right"></i>
        </a>
    </li>
</ul>
</div>
</div>
</div>
</div>
    </div>
    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</div>
<!--<div class="modal">
    <div class="modal_overlay"></div>
    <div class="modal__body">
         <div class="auth-form">
             <div class="auth-form__container">
                 <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng Ký</h3>
                        <span class="auth-form__switch-btn">Đăng Nhập</span>
                    </div>
                    <div class="auth-form__form">
                        <div class="auth-form__group">
                            <input type="text" class="auth-form__input" placeholder="Nhập email">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập Mật Khẩu">
                        </div>
                        <div class="auth-form__group">
                            <input type="password" class="auth-form__input" placeholder="Nhập Lại Mật Khẩu">
                        </div>
                    </div>
                    <div class="auth-form__aside">
                        <p class="auth-form_polic-text">
                            Bạn đã đồng ý đăng ký?
                            <a href="" class="auth-form_text-link">Điều Khoản Dịch Vụ</a> &
                            <a href="" class="auth-form_text-link">Chính Sách Và Bảo Mật</a>
                        </p>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn btn--normal auth-form__controls-back">Trở Lại</button>
                        <button class="btn btn--pir">Đăng Ký</button>
                    </div>
                </div>
                <div class="auth-form__socials">
                    <a href="" class="auth-form__socials--fb btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                        <span class="auth-form__socials-title">
                            Kết Nối Với FaceBook
                        </span>
                    </a>
                    <a href="" class="auth-form__socials--gg btn btn--size-s btn--with-icon">
                        <i class="auth-form__socials-icon fab fa-google"></i>
                        <span class="auth-form__socials-title">
                            Kết Nối Với Google
                        </span>
                    </a>
             </div>
         </div>-->
<!--<div class="auth-form">
    <div class="auth-form__container">
        <div class="auth-form__header">
            <h3 class="auth-form__heading">Đăng Nhập</h3>
            <span class="auth-form__switch-btn">Đăng Ký</span>
        </div>
        <div class="auth-form__form">
            <div class="auth-form__group">
                <input type="text" class="auth-form__input" placeholder="Nhập email">
            </div>
            <div class="auth-form__group">
                <input type="password" class="auth-form__input" placeholder="Nhập Mật Khẩu">
            </div>
        </div>
        <div class="auth-form__aside">
            <div class="auth-form__help">
                <a href="" class="auth-form__help-link auth-form__help-for">Quên Mật Khẩu</a>
                <span class="auth-form__help-separete"></span>
                <a href="" class="auth-form__help-link">Cần Trợ Giúp?</a>
            </div>
        </div>
        <div class="auth-form__controls">
            <button class="btn btn--normal auth-form__controls-back">Trở Lại</button>
            <button class="btn btn--pir">Đăng Nhập</button>
        </div>
    </div>
    <div class="auth-form__socials">
        <a href="" class="auth-form__socials--fb btn btn--size-s btn--with-icon">
            <i class="auth-form__socials-icon fab fa-facebook-square"></i>
            <span class="auth-form__socials-title">
                FaceBook
                </span>
        </a>
        <a href="" class="auth-form__socials--gg btn btn--size-s btn--with-icon">
            <i class="auth-form__socials-icon fab fa-google"></i>
            <span class="auth-form__socials-title">
                Google
                </span>
        </a>
    </div>
</div>
</div>
</div>-->
</body>
</html>