<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    <%- include("stylesheet.ejs") %>
</head>
<body>
<div class="product-details">
    <div class="app">
        <%- include("header.ejs") %>
    </div>
    <div class="products">
        <div class="content">
            <div class="row">
                <div class="item">
                    <div class="cake-wedding">
                        <div class="header-text">
                            <p>Cupcake</p>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/Brownie.jpg">
                                <p>Brownie</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/Caramel.jpg">
                                <p>Caramel</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/chocolate muffin.jpg">
                                <p>Chocolate Muffin</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/chocolate muffin2.jpg">
                                <p>Chocolate Muffin</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/chocolate muffin1.jpg">
                                <p>Chocolate Muffin</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/chocolate white muffin.jpg">
                                <p>Chocolate White Muffin</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/cream muffin.jpg">
                                <p>Cream Muffin</p>
                                <p>$4.99</p>
                            </a>
                        </div>

                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/croissant italian cake.jpg">
                                <p>Croissant Italian Cake</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/croissant.jpg">
                                <p>Croissant</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/crunchy.jpg">
                                <p>Crunchy</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/crunchy.jpg">
                                <p>Crunchy</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                        <div class="item-box">
                            <a href="#">
                                <img src="/imgs/donut.jpg">
                                <p>Donut</p>
                                <p>$4.99</p>
                            </a>
                        </div>
                    </div>

                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/frence bagel.jpg">
                            <p>Frence Bagel</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/frence bagel1.jpg">
                            <p>Frence Bagel</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/chocolate bake.jpg">
                            <p>Chocolate bake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/french bun.jpg">
                            <p>French Bun</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/german chocolate.jpg">
                            <p>German Chocolate</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/glutten loaf.jpg">
                            <p>Glutten Loaf</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Macaron Cake.jpg">
                            <p>Macaron Cake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <img src="/imgs/Caramel.jpg">
                        <p>Caramel</p>
                        <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Pastry.jpg">
                            <p>Pastry</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/poppy bagel.jpg">
                            <p>Poppy Bagel</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/poppyroll.jpg">
                            <p>Poppy roll</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/chocolate bake.jpg">
                            <p>Chocolate Bake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/pumkin buns.jpg">
                            <p>Pumkin Buns</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/rasberry.jpg">
                            <p>Rasberry</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/red bread.jpg">
                            <p>Red Bread</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Red Velvet.jpg">
                            <p>Red Velvet</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/rustic bread.jpg">
                            <p>Rustic Bread</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/chocolate bake.jpg">
                            <p>Chocolate bake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/signature cake.jpg">
                            <p>Signature Cake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/square bun.jpg">
                            <p>Square Bun</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/square bunq.jpg">
                            <p>Square Bun</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Brownie.jpg">
                            <p>Brownie</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Wheat loaf.jpg">
                            <p>Wheat Loaf</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/chocolate bake.jpg">
                            <p>Chocolate bake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Brownie.jpg">
                            <p>Brownie</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Caramel.jpg">
                            <p>Caramel</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Macaron Cake.jpg">
                            <p>Macaron Cake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/Brownie.jpg">
                            <p>Brownie</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/poppyroll.jpg">
                            <p>Poppy roll</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                    <div class="item-box">
                        <a href="#">
                            <img src="/imgs/chocolate bake.jpg">
                            <p>Chocolate bake</p>
                            <p>$4.99</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--lam background tong-->
    <div class="products1">
        <div class="content1">

        </div>
    </div>
    <!--lam Popular famous-->
    <div class="products2">
        <div class="content2">
            <div class="header-text1">
                <p>Popular famous</p>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/rustic bread.jpg">
                    <p>Rustic Bread</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/chocolate bake.jpg">
                    <p>Chocolate bake</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/signature cake.jpg">
                    <p>Signature Cake</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/square bun.jpg">
                    <p>Square Bun</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/square bunq.jpg">
                    <p>Square Bun</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/Brownie.jpg">
                    <p>Brownie</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/Wheat loaf.jpg">
                    <p>Wheat Loaf</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/chocolate bake.jpg">
                    <p>Chocolate bake</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/Brownie.jpg">
                    <p>Brownie</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/Caramel.jpg">
                    <p>Caramel</p>
                    <p>$4.99</p>
                </a>
            </div>
            <div class="item-box">
                <a href="#">
                    <img src="/imgs/Macaron Cake.jpg">
                    <p>Macaron Cake</p>
                    <p>$4.99</p>
                </a>
            </div>
            <!--lam Tag-->
            <div class="tag">
                <p>Tag</p>
            </div>
            <!--lam Tag-list-->
            <ul class="tag-list">
                <li class=" tag__item ">
                    <a href="#" >Cupcake</a>
                </li>
                <li class=" tag__item ">
                    <a href="#" >Pastry</a>
                <li class=" tag__item ">
                    <a href="#" >Muffin</a>
                </li>
                <li class=" tag__item ">
                    <a href="#" >Waffle</a>
                </li>
            </ul>
            <!--lam anh hieu ung-->
            <div class="macaron">
                <div class="placeholder">
                    <img src="/imgs/Macaron Cake1.jpg" width="200" height="200">
                </div>
            </div>
        </div>


    </div>
    <!--lam Catergories-->
    <div class="products3">
        <div class="content3">
            <div class="header-text3">
                <p>Categories</p>
            </div>
            <ul class="tag-list">
                <li class="tag__item">
                    <a href="#" >Cupcake</a>
                </li>
                <li class=" tag__item ">
                    <a href="#" >Donut</a>
                </li>
                <li class=" tag__item ">
                    <a href="#" >Pastry</a>
                <li class=" tag__item ">
                    <a href="#" >Muffin</a>
                </li>
                <li class=" tag__item ">
                    <a href="#" >Waffle</a>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <%- include("footer.ejs") %>
    </footer>
</div>
</div>
</body>
</html>