<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/view-cart.css">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/responsive.css">
</head>
<body>
<header class="section header">
    <div class="container">
        <div class="header__logo">
            <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-dark.svg" alt="" class="header__logo-img">
            <img src="https://baker.la-studioweb.com/wp-content/uploads/2021/08/bakerfresh-logo-white.svg" alt="" class="header__logo-img">
        </div>
        <!-- Navigation -->
        <nav class="navbar">
            <input hidden type="checkbox" name="" id="menu">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Shop</a>
                    <i class='bx bx-chevron-down'></i>
                    <ul class="sub-nav__list">
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cake Wedding</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cake Birthday</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cake X'mas & New Year</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cake TIRAMISU</a>
                        </li>
                        <li class="sub-nav__item">
                            <a href="#" class="sub-nav__link">Cake Tea Break</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">About us</a>
                    <i class='bx bx-chevron-down'></i>
                </li>
                <li class="navbar__item">
                    <a href="#" class="navbar__link">Contact</a>
                </li>
                <li class="navbar__item">
                </li><label for="menu" class="menu-mobile-tablet">
                    <i class='close-menu-icon bx bx-x'></i>
                </label>
            </ul>
            <ul class="navbar__list">
                <li class="navbar__item">
                    <i class='bx bx-search'></i>
                </li>
                <li class="navbar__item">
                    <i class='bx bx-cart'></i>
                </li>
                <li class="navbar__item">
                    <i class='bx bx-user' ></i>
                </li>
                <li class="navbar__item">
                    <label for="menu" class="menu-mobile-tablet">
                        <i class='bx bx-menu'></i>
                    </label>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__text">
        <p class="header__title">Cart</p>
        <p class="header__address">
            <a href="#" class="header__home-link">Home</a>
            <span class="header__target">/ Cart</span>
        </p>
    </div>
</header>

<nav class="section navigator">
    <div class="container">
        nav
    </div>
</nav>
<section class="section main">
    <div class="container">
        <article class="content">
            <div class="entry">
                <p>content</p>
            </div>
        </article>
        <article class="sidebar">
            <div class="side">
                <p>sidebar</p>
            </div>
        </article>
    </div>
</section>

<footer class="section footer">
    <div class="container">
        <p>footer</p>
    </div>
</footer>
</body>
</html>